.button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button.inline {
    display: inline-flex;
}
.button.compact {
    padding: 0;
}

.button.disabled, .button:disabled {
    color: var(--background-bright);
}
.button.active, .button:active {
    background-color: var(--background-very-light);
}
.button.hover, .button:hover {
    background-color: var(--background-dark);
}

.button.icon-location-vertical {
    flex-direction: column;
}

.button > .icon {
    padding: 5px;
}
.button.compact > .icon {
    padding: 2px;
}
