/* Tabs
-------------------- */

.tabs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--layout-space);
}

.tabs > * {
    flex-grow: 1;
}
.tabs.location-vertical {
    flex-direction: column;
}

/* Tab
-------------------- */

/* None */

/* TabContent
-------------------- */

.tab-content {}
