/* Tabs
-------------------- */

.tabs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--layout-space);
}

.tabs > * {
    flex-grow: 1;
}
.tabs.location-vertical {
    flex-direction: column;
}

/* Tab
-------------------- */

.tab {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.tab.icon-location-vertical {
    flex-direction: column;
}

.tab.active {
    background-color: var(--background-very-light);
}

.tab > .icon {
    padding: 5px;
}

/* TabContent
-------------------- */

.tab-content {}
