/* Container
-------------------- */

.tabs {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--layout-space);
}

/* Tabs
-------------------- */

.tabs-header {
    display: flex;
    flex-direction: row;
    gap: var(--layout-space);

    flex-shrink: 0; /* Useful for finding layout bugs, but shouldn't be needed */
}
.tabs-header > * {
    flex-grow: 1;
}

.tabs.location-vertical {
    flex-direction: row;
}
.tabs-header.location-vertical {
    flex-direction: column;
}

/* Tab
-------------------- */

.tab {
    display: flex;
    align-items: center;
}
.tab.icon-location-vertical {
    flex-direction: column;
}
.tab.icon-location-end {
    justify-content: end;
}

.tab.active {
    background-color: var(--background-very-light);
}

.tab > .icon {
    padding: 5px;
}

/* Content
-------------------- */

.tab-content {
    height: 100%;
}
