.panel {
    min-height: 70px; /* minimum flex basis (otherwise very large content, even if overflowing, will
                         be given such a high proportion of the space that nothing else is visible) */
    flex-grow: 1; /* grow in parent container */
    overflow: auto;
    display: flex; /* create new container to pretend this wrapper isn't here */
}
