.tabs {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: var(--layout-space);
}

.tabs-header {
    display: flex;
    flex-direction: row;
    gap: var(--layout-space);

    padding-bottom: calc(var(--layout-space) / 2);
    border-bottom: 2px solid var(--background-very-dark);
}
.tabs-header > * {
    flex-grow: 1;
}

.tab-content {
    flex-grow: 1;
}
