/* Entry point - set full height */
#execution-space,
#execution-space-main {
    height: 100%;
}

/* Recursive column flexbox, except bottom-level */
#execution-space,
#execution-space-main,
.execution-space-input,
.execution-space-output {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--layout-space);
}

/* Recursive vertical grow, except top-level(s) */
.execution-space-input,
.execution-space-output,
#build-input,
#build-output,
#run-input,
#run-output {
    width: 100%;
    height: 0; /* Set the height to a consistent height so flexbox grows them to the same height */
    flex-grow: 1;
}

/* Header - normal sizing */
#execution-space-header {
    padding: 10px;
    text-align: center;
}

#build-input,
#build-output,
#run-input,
#run-output {
    padding: 10px;
}

/* They are divs, not an input boxes, so needs styling. */
#build-output, #run-output {
    background-color: var(--background-light);
    overflow: auto;
}

/* Style the action buttons - horizontal flexbox */

.execution-space-actions {
    display: flex;
    flex-direction: row;
    gap: var(--layout-space);
}
.execution-space-actions > * {
    width: 0; /* Set the width to a consistent width so flexbox grows them to the same width */
    flex-grow: 1;
}

#run-action { background-color: rgb(0,128,0); }
#run-action:hover { background-color: rgb(0,96,0); }
#run-action:active { background-color: rgb(0,88,0); }

#build-action { background-color: rgb(128,0,0); }
#build-action:hover { background-color: rgb(96,0,0); }
#build-action:active { background-color: rgb(88,0,0); }
