#language-space {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: var(--layout-space);
}

#language-space-header {
    padding: 10px;
    text-align: center;
}

#language-space-input {
    flex-grow: 1;
}
