/* External Resources
-------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0');

/* Top-Level Rules
-------------------------------------------------- */

:root {
    --background-bright: rgb(128,128,144);
    --background-very-light: rgb(64,64,72);
    --background-light: rgb(48,48,54);
    --background: rgb(32,32,36);
    --background-dark: rgb(24,24,27);
    --background-very-dark: rgb(16,16,18);

    --success: rgb(48,208,48);
    --failure: rgb(208,48,48);
    --warning: rgb(208,208,48);
    --info: rgb(208,208,202);

    --layout-space: 20px;

    --font-size: 14px;
    --font-size-h1: 2rem;
    --font-size-h2: 1.5rem;
    --font-size-h3: 1.2rem;
}

/* Structural Rules
-------------------------------------------------- */

html, body, #app {
    padding: 0;
    margin: 0;
    font-size: var(--font-size);
}

#app {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    gap: var(--layout-space);

    background-color: var(--background);
}

header, footer {
    display: flex;
    flex-direction: column;
    gap: var(--layout-space);

    background-color: var(--background-light);
}

main {
    overflow: auto;
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    gap: var(--layout-space);
}

/* Generic Rules
-------------------------------------------------- */

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, li, th, td, legend, label, input, textarea, button {
    margin: 0;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem; /* Prevent specific tags from overriding the base font size. */
}
h1 { font-size: var(--font-size-h1); }
h2 { font-size: var(--font-size-h2); }
h3 { font-size: var(--font-size-h3); }

input, textarea, button {
    border: none;
    background-color: var(--background-light);
}
input:focus, textarea:focus, button:focus {
    outline: none;
}
textarea {
    padding: 10px;
    resize: none;
}
.codebox {
    font-family: 'Source Code Pro', monospace;
}

button {
    padding: 10px;
    border-radius: 5px;
}
button:hover { background-color: var(--background-dark); }
button:active { background-color: var(--background-very-dark); }

.awaiting { border: 1px dashed var(--info) }
.valid { border: 1px dashed var(--success) }
.invalid { border: 1px dashed var(--failure) }
