#execution-space {
    overflow: auto;
    max-width: 40%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--layout-space)
}
#execution-space:not(:empty) {
    min-width: 20%;
}
