.toolbar {
    width: 100%;
    padding: 0 var(--layout-space);

    display: flex;
    align-items: center;
    gap: var(--layout-space)
}

.toolbar h2 {
    border-bottom: 2px solid var(--background-dark)
}
